@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root {
 --cor-de-fundo: #000000; 
 --branco-principal: #f6f6f6;
 --cor-botao: #22D4FD;
 --cor-botao-hover: #272727;

}
body {
    /* height: 100 vh; */
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal)
}
a{
    
    text-decoration: none;
}

.apresentacao {
    padding: 5% 10%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
   
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 82px;
}
.apresentacao__conteudo__titulo{
    font-size: 3.69rem;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;     
}
.titulo-destaque {
    color: var(--cor-botao);
}

.apresentacao__conteudo__paragrafo{
    font-size: 1.375rem;
    font-family: "Montserrat", sans-serif;
   
}
.apresentacao__links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    
}
.apresentacao__links__subtitulo{
    font-size: 1.5rem;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
}
.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-botao);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    color: var(--branco-principal);
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}
.apresentacao__links__navegacao:hover{
    padding: 3%;
    background-color: var(--cor-botao-hover);
}
.apresentacao__imagem{
    width: 50%; 
}
.rodape{
    color: var(--cor-de-fundo);
    background-color: var(--cor-botao);
    padding: 23.64px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
}
.cabecalho {
    padding: 2% 0% 0% 10%;
}
.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-botao);

}

.cabecalho__menu__link:hover {
    color: #007bff;
}
@media (max-width:900px) {
    .cabecalho{
        padding: 10%;
    }
    .cabecalho__menu{
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%; 
    }
    .apresentacao__conteudo{
        width: 100%;
    }
}